*{
				margin: 0;
				padding: 0;
                scroll-behavior: smooth;
}

/* AOS z-index fix */
[data-aos] {
    pointer-events: none;
  }
  .aos-animate {
    pointer-events: auto;
  }
  .aos-init[data-aos][data-aos].aos-animate {
    transform: unset;
  }

  /* google font link */
  @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&display=swap');

/* html~skeleton */

html{
				overflow-x: hidden;
}

header{
    z-index: 10 !important;
    font-family: 'IBM Plex Mono', monospace;
}

main{
    z-index: -1;
    /* font-family: 'Domine', serif; */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}

/*sections*/

/* landing */
.showcase {
    overflow-x: hidden;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: fixed;
    z-index: -1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	overflow: hidden;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 2;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	border-radius: 5px;
	border: solid #fff 2px;
	margin-top: 25px;
	opacity: 0.7;
    background-color: white;
}

.btn:hover {
    transition:all 1s ease-in-out;
    transform: translateX(0px) translateY(-10px);
    box-shadow: 10px 10px 26px rgba(0, 0, 0, 1);
    color: antiquewhite;
    background-color: black;
    text-decoration-color: white;
}

.typewriter-text{
    font-size: 70px;
}

/* about */
#about{
    z-index: -1;
    font-size: 20px;
}

.cv{
    display: inline-block;
	padding: 10px 30px;
	color: white;
	border-radius: 5px;
	border: solid #fff 2px;
	margin-top: 25px;
    background-color: black;
}


/*nav*/
nav{
    color: black;
    font-size: 16px;
border-radius: 16px;
background-color: white;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.8px);
-webkit-backdrop-filter: blur(4.8px);
opacity: 0.7;
transition: 1s ease-in-out;
}

nav:hover{
    opacity: 1;
    transition: 1s ease-in-out;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

a:link{
       text-align: right;
				text-decoration: none;
				font-weight: bold;
                padding: 5px;
}

a:visited{
				color: black;
}

a:hover{
				text-decoration: underline 3px;
				text-decoration-color: aqua;
				transition: 1.2s ease-in-out;
}

.logo{
    font-family: 'IBM Plex Mono', monospace;
}

.logo:hover{
    font-size: 30px;
    text-decoration-color: aqua;
    color: aqua;
}

/*nav button*/
input{
    width:45px;
    height:45px;    
    -webkit-appearance:none;    
    position:relative;    
}

input:after{
    content:"";
    position:absolute;
    top:2rem;
    left: 0;
    right:0;
    bottom: 0;
    background-color: black;
    transition:all .5s ease-in-out
}

input:before{
    content:"";
    position:absolute;
    top:0;
    bottom:2rem;
    left:0;
    right:0;
    background-color:black;
    transition:all .5s ease-in-out;
}

input:checked:before{
    transform:rotate(45deg) translate(10px,12px);
    background-color:red;
}

input:checked:after{
    transform:rotate(-45deg) translate(10px,-12px);
    background-color:red;
}


/* resume */

/* timeline */
#timeline-sec {
    background: rgba(0, 0, 0, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    margin-top: 2rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    border-left: 3px solid aqua;
    padding-left: 20px;
    position: relative;
    border-radius: 20px;
  }
  
  #timeline-sec:before {
    position: absolute;
    left: -10px;
    top: 0;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border: 3px solid aqua;
    border-radius: 50%;
    background-color: orange;
  }

/* projects */
.projects-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.projectimg{
    width: 40%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    transition: 1s ease-in-out;
    opacity: 0.8;
}

.projects-container img {
    max-height: 400px;
    flex-grow: 1;
    object-fit: cover;
}

.projectimg:hover{
    opacity: 1;
    background-color: blue;
    width: 50%;
    box-shadow: 10px 10px 26px rgba(0, 0, 0, 1);
    transition: 1s ease-in-out;
  }


/* testimonials */
#card{
    background: rgba(0, 0, 0, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    gap: 5px;
    transition:all 1s ease-in-out;
}

#card:hover{
    transition:all 1s ease-in-out;
    transform: translateX(-5px) translateY(-15px);
    box-shadow: 10px 10px 26px rgba(0, 0, 0, 1);
}

#card-img-left1{
    margin-left: 48%;
    margin-top: 1rem;
    height: 80%;
    width: 50%;
    border-radius: 20px;
}

#card-img-right1{
    margin-left: 1rem;
    margin-top: 1rem;
    height: 50%;
    width: 45%;
    border-radius: 20px;
}

#card-img-left2{
    margin-left: 48%;
    margin-top: 1rem;
    height: 80%;
    width: 50%;
    border-radius: 20px;
}

#card-img-right2{
    /* padding-bottom: 40px; */
    margin-left: 1rem;
    margin-top: 1rem;
    height: 40%;
    width: 40%;
    border-radius: 20px;
}

/* contact */
#contact{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}

#contact-card{
    background: rgba(0, 0, 0, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

#contact-icons{
    font-size: 30px;
    transition: all 1s ease-in-out;
}

#contact-icons:hover{
    text-shadow: 8px -5px 6px rgba(16, 218, 245, 1);
    color: black;
}

#contact-nav{
    color: rgb(0, 145, 255);
}



/*style*/

#portfolio-link:hover{
    font-size: 18px;
}


#social-links{
				font-size: 30px;
				transition: 1s ease-in-out;
				color: white;
                
}

#social-links:hover{
                font-size: 35px;
                text-shadow: 6px 12px 9px black;
				border-radius: 3px;
				
}

#aboutlink{
    font-size: 30px;
    animation:move 4s ease-in-out infinite;
}


/*text edit*/

.landing-heading{
    font-size: 80px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
				text-align: center;
                /* font-family: 'Oleo Script', cursive; */
                font-family: 'IBM Plex Mono', monospace;
				font-weight: bold;
				font-size: 40px;
				border-bottom: 3px black solid;
				width: 80%;
			  position: relative;
			  left: 10%;
              z-index: 1;
}

.sub-heading{
				/* font-family: Georgia; */
                font-family: 'IBM Plex Mono', monospace;
				font-weight: bold;
}

.highlight{
				color: aqua;
}

/*text-motion*/
#text-motion{
    line-height:1.5;

}
#text-motion span{
    font-size: 40px;
    gap: 10px ;
    display:inline-block;
    animation:move 3s ease-in-out infinite;
}

@keyframes move{
    0%{
        color: transparent;
        transform:translateX(0%);
    }
    50%{
        color: black;
        text-shadow: 6px 12px 9px black;
        font-family: 'IBM Plex Mono', monospace;
    }
    100%{
        color: transparent;
        transform:translateX(0%);
    }
}

/* image editor */
#me3{
    border: 3px #000000 solid;
    z-index: -1;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    transition: all 1s ease-in-out;
}

#me3:hover{
    box-shadow: 10px 10px 26px rgba(0, 0, 0, 1);
    opacity: 1;
}

/* scroll */
/* width */
::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 500px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: aqua;
  }
